.App {
  text-align: center;
  background-color: grey;

}


p {
  color: white;
  font-size: 1.2rem;
}

li {
  color: white;
  font-size: 1.2rem;
}

.mdDocument {
  color: white;
}

.flexBoxContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20%;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #333;
  border-radius: 6px;
  padding: 8px 12px;
  flex: 1;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.PageTitle {
  font-size: 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.glow-circle {
  width: 50rem;
  height: 50rem;
  border: 1rem solid #000000;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, #ffffff, #e8e8e8 100%, #cfcfcf 200%);

  animation: pulse-glow 5.2s ease-in-out infinite;
}

@keyframes pulse-glow {
  0%, 100% {
    box-shadow:
      0 0 1px 1px rgba(255, 255, 255, 0.8),
      0 0 1px 1px rgba(255, 255, 255, 0.5),
      0 0 1px 1px rgba(255, 255, 255, 0.25);
    transform: scale(1);
  }

}
